<ion-toolbar id="top-toolbar">
    <ion-buttons left>
        <button icon-only ion-button (click)="onDisableDraw()">
            <ion-icon name="hand"></ion-icon>
        </button>
        <button icon-only ion-button (click)="onEnableDraw()">
            <ion-icon name="brush"></ion-icon>
        </button>
        <button icon-only ion-button (click)="onAddText()">
            <!-- <b>Text</b> -->
            <ion-icon name="text"></ion-icon>
        </button>
        <button icon-only ion-button (click)="onSelectColor()">
            <ion-icon [style.color]="currentColor" name="color-palette"></ion-icon>
        </button>
        <button icon-only ion-button (click)="onSelectSize()">
            <b>Size</b>
        </button>
        <button icon-only ion-button (click)="undo()">
            <ion-icon name="undo"></ion-icon>
        </button>
        <button icon-only ion-button (click)="redo()">
            <ion-icon name="redo"></ion-icon>
        </button>
        <button icon-only ion-button (click)="sync()">
            <ion-icon [style.color]="isOnline ? 'green' : 'red'" name="sync"></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>
  
 <canvas #myCanvas (touchstart)="handleStart($event)" (touchmove)="handleMove($event.touches[0].pageX, $event.touches[0].pageY)" (touchend)="touchStop()"></canvas>
  
 <ion-toolbar id="bottom-toolbar">
    <ion-buttons left>
        <button color="dark" ion-button icon-only (click)="delete()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
</ion-toolbar>